<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.dao.AdminMapper">
	<sql id="Base_Column_List">
		ID,DOCNO,DOCNAME,PASSWORD,SECRETKEY,SEX,BIRTH,PHONE,REGISTRATIONFEE,ENTRYDATE,LEAVEDATE,TYPE,
		CREATETIME,UPDATETIME,ISDELETED,DEPID
	</sql>
	<insert id="addDoctor" parameterType="com.zjy.dao.Doctor">
		insert into DOCTOR(
		<include refid="Base_Column_List" />
		) values(#{id},#{docNo},#{docName},#{password},#{secretKey},#{sex},#{birth},#{phone},#{registrationFee},#{entryDate},#{leaveDate},
		#{type},#{createTime},#{updateTime},#{isDeleted},#{depId})
	</insert>
	
	<update id="deleteDoctor" parameterType="String">
		update DOCTOR set ISDELETED='1' where id=#{id}
	</update>
</mapper>